# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4) + 5
result

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60.
time = (200/60)
time

3.3333333333333335

**Objectives**

- Perform arithmetic operations in Python.
- Create markdown cells with different formatting.
- Create and run Python code cells in Jupyter Notebook.
- Identify and list popular for Data Science.

## Author
Ildefonso Arroyo Mercado